**/*
!out/**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!LICENSE.txt
!LICENSE.md
!bin/
!bin/**
!gui/
gui/**
!gui/dist/
!gui/dist/**
!media/
!media/**
out/**/tests/**
out/**/tests
out/test/**
out/test
out/tests/**
out/tests
out/**/*.test.js
out/**/*.test.js.map
